
.app {
    background-image: url(/_JFA0891.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    height: 100vh;
    padding: 0.5em;
    .loading {
        background-color: aliceblue;
        font-size: 2em;
        color: rgb(12, 54, 127);
        border-radius: 5px;
            }
    .loading__message {
        background-color: aliceblue;
        font-size: 2em;
        color: rgb(12, 54, 127);
        border-radius: 5px;
    }
}